*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Poppins', sans-serif;
}
 
/******************* navigation start *************/
.nav{
   height: 50px;
   width: 100%;
   background: linear-gradient(to left, rgb(59, 51, 212), rgb(176, 207, 241), rgb(59, 51, 212));
   box-shadow: 2px 2px 10px rgb(59, 51, 212);
   margin-bottom: 50px;
   position: fixed;
   z-index: 10;
   left: 0;
   top: 0;
   width: 100vw;
   height: auto;
}
.nav .items{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.nav .item{
   font-size: 22px;
}
.nav .item h2{
   font-family: 'Poppins', sans-serif;
   color: white;
   font-weight: 600;
}
.nav .item span{
   color: red;
}
.nav .item1,.item2 > .fas{
   color: rgb(0, 38, 255);
}
/******************* navigation End *************/
.container{
   min-height: 90vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}


/* Hero section Start */
.hero{
   background-image: url(img/joya.png);
   background-size: cover;
   background-position: top center;
   position: relative;
   z-index: 1;
}
.hero::after{
   content: "";
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   position: absolute;
   background: linear-gradient(rgb(176, 207, 241, .7), rgb(59, 51, 212,.6));
   
   z-index: -1;
}

.hero h1{
   display: block;
   width: fit-content;
   font-size: 4rem;
   color: transparent;
   position: relative;
   animation: text-reveal .5s ease forwards;
   animation-delay:1.5s;
}
#hero .hero{
   margin-top: 80px;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
   justify-content: flex-start;
}
#hero h1:nth-child(1){
   animation-delay:1s ;
}
#hero h1:nth-child(2){
   animation-delay: 2s;
}
#hero h1:nth-child(3){
   animation: text-reveal-name 1s ease forwards;
   animation-delay: 3s;
}
#hero h1 span {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 0;
   background-color: crimson;
   animation: text-reveal-box 1s ease;
   animation-delay:.5s ;
}
#hero h1:nth-child(1) span{
   animation-delay:.5s ;
}
#hero h1:nth-child(2) span{
   animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
   animation-delay: 2.5s;
}
/* Hero section End */


/******** Emontion Start *******************/
#abeg{
 background-image: url(img/Banner1.jpg);
}
#abeg .emotion{
   height: 55vh;
   width: 90%;
   margin: auto;
   margin-top: 25px;
   margin-bottom: 25px;
   border: 1px solid rgb(197, 168, 168);
   box-shadow: 2px 2px 6px 6px rgba(18, 18, 228, 0.8);
   background-image: url(img/Banner3.jpg);
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
}   
.emotion .head h1{
   text-align: center;
   font-family: 'Baloo Da 2', cursive;
   font-size: 40px;
   font-weight: 900;
   color: rgb(166, 26, 201);
   margin: 20px 0;
}
.emotion .explantion{
   box-sizing: border-box;
   padding: 0 20px;
}
.emotion .explantion p{
   text-align: center;
   font-family: 'Baloo Da 2', cursive;
   font-weight: 600;
   font-size: 25px;
   color: rgb(87, 5, 107);
}
/******** Emontion End *******************/

/*************Question Part*****************/
.question{
   background-image: url(img/banner6.jpg);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
}

.question .qhead h1{
   text-align: center;
   padding: 25px;
   font-size: 40px;
   color: rgb(49, 39, 39);
}
.question .qhead span{
   font-size: 80px;
   color: red;
}

.question .ques{
   text-align: left;
   font-size: 25px;
   font-weight:600 ;
   line-height: 50px;
   color: rgb(49, 39, 39);
   padding-left: 10px;
}
/*************Question Part*****************/

/* *****************Explanation********************** */
.explanation{
   /* background-image: url(img/banner4.jpg); */
   background-color: gray;
   background-position: center center;
   background-size: cover;
   margin: 20px 0;
}
.explanation .explan1 h1{
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 35px;
   font-weight: 600;
   color: white;
   padding: 25px;
   
}
.explanation .explan2 {
   box-sizing: border-box;
   padding: 0 15px;
}
.explanation .explan2 p{
   text-align: justify;
   color: white;
   font-size: 30px;
}

/* *****************Explanation********************** */



/* *****************Propose******************************** */
.all{
   -webkit-animation: 100%;
}
 .part1{
   margin-bottom: 20px;
   color: white;
   text-align: center;
   margin: auto;
   
 }
 .part1 h1{
    display: inline-block;
    background: crimson;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    padding: 0px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px gray;
    margin-bottom: 20px;
 }
 .part2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

 }
 .part2 .image{
   height: 200px;
   width: 350px;
   margin: 10px 10px;
   box-shadow: 1px 1px 8px .8px rgb(124, 24, 94);
   overflow: hidden;
 }
 .part2 .image img{
    height:100% ;
    white-space: 100%;
 }
 .part2 .image3{
    background-image: url(img/banner2.jpg);
 }
 .part2 .image3 img{
    margin: auto;
    text-align: center;
 }
/* *****************Propose******************************** */



/* *****************Solution******************************** */
.solution{
   margin: 30px 0;

}
.solution h1{
   text-align: center;
   font-size: 40px;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   color: crimson;
}
.solution .para{
   background-image: url(img/banner5.jpg);
   padding: 0 25px;
}
.solution .para p{
   text-align: justify;
   font-size: 30px;
   font-weight: 500;
   font-family: 'Baloo Da 2', cursive;
   color: black;
}
/* *****************Solution******************************* */


 

/*Contact section*/
.section-title {
   font-size: 40px;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   margin: 20px 0;
}
.section-title span{
   color: crimson;
}
#contact .contact{
   flex-direction: column;
   max-width: 1200px;
   margin: 0 auto;
}
#contact .contact-items{
   width: 400px;
}
#contact .contact-item{
   width: 80%;
   display: flex;
   flex-direction: column;
   margin: 30px auto;
   padding: 30px;
   box-shadow: 0 0 18px 0 black;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   text-align: center;
   transition: .5s;
}
#contact .contact-item:hover{
   box-shadow: 0 0 5px 0 black;
}
#contact .contact-item .icon{
   width: 70px;
   margin: 0 auto;
   margin-bottom: 10px;
}
#contact .contact-item h1{
   font-size: 2.5rem;
   font-weight: 500;
   margin-bottom: 5px;
   
}
#contact .contact-item h2{
   font-size: 1.63rem;
   font-weight: 500;
   line-height: 2rem;

}
/*End Contact section*/




/*Footer section*/
#footer{
   background-image: linear-gradient(60deg,#29323c,#485563);
}
#footer .footer{
   min-height: 300px;
   flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
.footer .brand{
   font-size: 40px;
   color: white;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
}
.footer .brand span{
   color: crimson;
}
#footer .footer h2{
   color: white;
   font-size: 1.5rem;
   letter-spacing: .1rem;
   font-weight: 500;
   text-transform: capitalize;
   margin-top: 10px;
   margin-bottom: 10px;
}
#footer .footer .social-icon{
   display: flex;
   margin-bottom: 30px;
}
#footer .footer .social-item{
   width: 50px;
   height: 50px;
   margin: 0 5px;
}
#footer .social-item img{
   filter: grayscale(0);
}

#footer .footer p{
   text-align: center;
   font-size: 1.3rem;
   color: white;
}
/* End Footer section*/













/* keyframs*/
@keyframes text-reveal-box {
   50%{
       width: 100%;
       left: 0;
   }
   100%{
       width: 0%;
       left: 100%;
   }
}

@keyframes text-reveal{
   100%{
       color: white;
   }
}
@keyframes text-reveal-name{
   100%{
       color: crimson;
   }
}
@keyframes animation{
   0%{
       opacity: 1;
       transform: scale(1);
   }
   100%{
       transform: scale(1.4);
       opacity: 0;
   }
}
/* End keyframs*/



